node_modules/
.env
*.db
*.db-journal
.DS_Store
npm-debug.log*
/Samples
/Background Information
/Background Information
Background Information/General Info/Shadow Reflections.md
Background Information/DM Info/The Soul Realm.md
Background Information/DM Info/Amber notes.md
